<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <p class="m-0 text-dark text-center "><a href="/about-author/">Об авторе</a> - <a href="/about-spec/">Технологии</a></p>
    <p class="m-0 text-dark text-center ">Blog <span style="color:red">My</span>Blog</p>
</footer>