<nav class="navbar navbar-dark" style="background-color: #6d6767;">
    <a class="navbar-brand" href="/"><span style="color:red">My</span>Blog</a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        Пользователь: <a class="p-2 text-dark border-right border-secondary" href="{% url 'profile' user.username %}">{{ user.username }}</a>
        <a class="p-2 text-dark {% if index %}active{% endif %}" href="{% url 'index' %}">Все авторы</a>
        <a class="p-2 text-dark {% if follow %}active{% endif %}" href="{% url 'follow_index' %}">Избранные авторы</a>
        <a class="p-2 text-dark border-right border-secondary" href="{% url 'new_post' %}">Новая запись</a>
        <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
        <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a class="p-2 text-dark border-right border-secondary" href="{% url 'login' %}">Войти</a>
        <a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
    </nav>
</nav>
