<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Ещё один блог...{% endblock %} | blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</head>

<body>
    {% include 'include/nav.html' %}
    <main>
        <div class="container">
            <h1 class="container-fluid display-4">{% block header %}Ещё один блог... You'll Ever Need{% endblock %}</h1><hr>
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% include 'include/footer.html' %}
</body>
</html>
